{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Souhait n°{{ id }}</h1>
    <p> Je souhaite {{ wish }} avant de mourir !</p>
    <a href="{{ path('wishList') }}">< retour</a>
{% endblock %}
